<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>積読する。した。</title>
</head>
<body>
    <p><a href="/tundoku">積読の一覧へ</a></p>
    <p><a href="/shoka">積読の消化具合へ</a></p>

    <p>積読するための本を検索する</p>
    <form action="/touroku" method="GET">
       <input type="text" name="kensaku">
       <button type="submit">送信</button>
    </form>
</body>
</html>